.maincenter-social {

    .wrapper {
        min-height: 140px;
        padding: 44px 30px 44px 50px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;

        border-radius: 40px;
        background: url("/images/demo/underlay-green.png") lightgray 50% / cover no-repeat;
        box-shadow: 3px 3px 50px 0px rgba(0, 56, 89, 0.10);
    }

    &__title {
        width: 431px;

        h4 {
            margin-bottom: 0;
            position: relative;
            z-index: 1;

            &:before {
                content:'';
                position: absolute;
                top: -8px;
                left: -20px;
                z-index: -1;
                display: block;
                width: 70px;
                height: 70px;
                border-radius: 40px 0px 40px 40px;
                background: #F4FFFA;
            }
        }
    }

    &__address {
        display: flex;
        align-items: center;
        gap: 30px;

        .select {
            margin-right: 0;
        }

        .custom-select {
            padding-right: 54px;        
        }
    }
}

@media (max-width: 1199px) {

    .maincenter-social {

        .wrapper {
            width: 100%;
            min-height: auto;
            padding: 24px 20px 24px 30px;
    
            flex-wrap: wrap;
            gap: 30px;

            border-radius: 20px;
            box-shadow: 3px 3px 30px 0px rgba(0, 56, 89, 0.10);
        }

        &__title {
            width: 100%;

            h4 {
                &:before {
                    content:'';
                    position: absolute;
                    top: -9px;
                    left: -20px;
                    width: 60px;
                    height: 60px;
                }
            }
        }

        &__address {
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;

            .custom-select {
                /* padding-right:;         */
            }
        }

        &__button {
            margin: 20px auto 0;
        }
    }
}

@media (min-width: 1920px) {
    .maincenter-social {

        .wrapper {
            min-height: 175px;
            padding: 55px 38px 55px 63px;
            gap: 38px;
            border-radius: 50px;
            box-shadow: 4px 4px 63px 0px rgba(0, 56, 89, 0.10);
        }

        &__title {
            width: 539px;
    
            h4 {
                &:before {
                    top: -10px;
                    left: -25px;
                    width: 88px;
                    height: 88px;
                    border-radius: 50px 0px 50px 50px;
                }
            }
        }

        &__address {
            gap: 38px;

            .custom-select {
                padding-right: 68px;        
            }
        }
    }
}