<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Медцентры</title>

    <link href="/bundles/css/app.min.css" rel="stylesheet">
</head>

<body>

    <header>
        <div class="container">
            <div class="header">

                <div class="header__logo">
                    <a href="#" class="header__logo-img">
                        @@include('../public/images/logo.svg')
                    </a>
                    <a href="#" class="header__logo-img text">
                        @@include('../public/images/logo-text.svg')
                    </a>
                    <a href="#" class="header__logo-img mobile">
                        @@include('../public/images/logo-mobile.svg')
                    </a>
                </div>

                <div class="header__burger"></div>

                <div class="header__main">

                    <div class="header__top">
                        <div class="header__top-address">
                            <div class="select-wrapper">
                                <select name="address" id="city" class="custom-select">
                                    <option value="1">г. Нижний Новгород</option>
                                    <option value="2">г. Нижний Новгород</option>
                                    <option value="2">г. Нижний Новгород</option>
                                </select>
                            </div>
                            <ul class="ul-main fz14">
                                <li>Казанское шоссе, д. 18к1 </li>
                                <li>ул. Республиканская, д. 43к2</li>
                            </ul>
                        </div>
                        <div class="header__top-buttons">
                            <a href="#" class="btn btn-long">
                                <span>Интернет-магазин</span>
                            </a>
                            <a href="#" class="btn btn-long">
                                <span>Школа реабилитации "Экзарта"</span>
                            </a>
                        </div>
                        <div class="header__top-contacts">
                            <a href="tel:+78314290115" class="header__top-phone">+7 (831) 429 01 15</a>
                            <div class="header__top-message">
                                <a href="https://t.me/mamrkurs" target="_blank" class="header__top-link">
                                    <span class="header__top-text">Написать в</span>
                                    @@include('../public/images/icons/telegram.svg')
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="header__btn-mobile">
                        <a href="#" class="btn btn-red">
                            <span>записаться на прием</span>
                        </a>
                    </div>

                    <div class="header__menu">

                        <div class="header__menu-items">

                            <div class="header__menu-items__item">
                                <a href="#" class="dropdown-title">О компании</a>
                                <div class="dropdown-menu hide">
                                    <a href="https://nn.ekzarta.ru/about/centers">О медцентрах в Нижнем Новгороде</a>
                                    <a href="#">Направление деятельности “Экзарта”</a>
                                    <a href="#">Наши статьи</a>
                                    <a href="#">Акции и скидки</a>
                                    <a href="https://nn.ekzarta.ru/contacts">Контакты</a>
                                </div>
                            </div>
                            <div class="header__menu-items__item">
                                <a href="#">Блог</a>
                            </div>
                            <div class="header__menu-items__item">
                                <a href="#" class="dropdown-title">Контакты</a>
                                <div class="dropdown-menu hide">
                                    <a href="#">Направление деятельности “Экзарта”</a>
                                    <a href="#">Наши статьи</a>
                                    <a href="#">Акции и скидки</a>
                                </div>
                            </div>
                            <div class="header__menu-items__item service">
                                <a href="#" class="dropdown__service-title">Онлайн-услуги</a>
                                <div class="dropdown__service-menu hide">
                                    <div class="tabheader">
                                        <div class="tabheader__items">
                                            <div class="tabheader__item" data-target="services_menu_category_19">Лечение
                                            </div>
                                            <div class="tabheader__item" data-target="services_menu_category_20">
                                                Реабилитация</div>
                                            <div class="tabheader__item" data-target="services_menu_category_21">Другие
                                                услуги</div>
                                        </div>
                                    </div>

                                    <div class="tabcontent show" id="services_menu_category_19">
                                        <div class="tabcontent__col">
                                            <span>Дети:</span>
                                            <ul class="ul-menu">

                                                <li><a href="#">Лечение перинатального поражения центральной нервной
                                                        системы
                                                        (ППЦНС)</a></li>
                                                <li><a href="#">Лечение детского церебрального паралича (ДЦП)</a></li>
                                                <li><a href="#">Лечение задержки моторного развития (ЗМР)</a></li>
                                                <li><a href="#">Лечение задержки речевого развития (ЗРР)</a></li>
                                                <li><a href="#">Лечение нарушений памяти и внимания</a></li>
                                                <li><a href="#">Лечение нарушений чтения и письма</a></li>
                                                <li><a href="#">Лечение нарушения осанки</a></li>
                                                <li><a href="#">Лечение синдрома мышечной дистонии</a></li>
                                                <li><a href="#">Лечение сколиоза</a></li>
                                                <li><a href="#">Лечение дисплазии тазобедренных суставов</a></li>
                                                <li><a href="#">Лечение кривошеи</a></li>
                                                <li><a href="#">Лечение мышечной слабости</a></li>
                                                <li><a href="#">Лечение головных болей</a></li>
                                                <li><a href="#">Лечение болей в спине</a></li>
                                                <li><a href="#">Лечение спортивных травм</a></li>
                                                <li><a href="#">Лечение травм и переломов</a></li>
                                                <li><a href="#">Лечение косоглазия</a></li>
                                                <li><a href="#">Лечение плоскостопия</a></li>
                                                <li><a href="#">Восстановление после операции</a></li>

                                            </ul>
                                        </div>
                                        <div class="tabcontent__col">
                                            <span>Взрослые:</span>
                                            <ul class="ul-menu">

                                                <li><a href="#">Лечение неврологических заболеваний</a></li>
                                                <li><a href="#">Лечение заболеваний опорно-двигательного аппарата</a>
                                                </li>
                                                <li><a href="#">Лечение дисфункции мышц тазового дна</a></li>
                                                <li><a href="#">Лечение травм и переломов</a></li>
                                                <li><a href="#">Лечение боли в стопе</a></li>
                                                <li><a href="#">Лечение пяточной шпоры</a></li>
                                                <li><a href="#">Лечение плоскостопия</a></li>
                                                <li><a href="#">Лечение головных болей</a></li>
                                                <li><a href="#">Лечение боли в спине</a></li>
                                                <li><a href="#">Лечение боли в суставах</a></li>
                                                <li><a href="#">Лечение дисфункции височно-челюстного сустава (ВНЧС)</a>
                                                </li>
                                                <li><a href="#">Лечение спортивных травм</a></li>
                                                <li><a href="#">Восстановление после операции</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="tabcontent hide" id="services_menu_category_20">
                                        <div class="tabcontent__col">
                                            <span>Дети:</span>
                                            <ul class="ul-menu">

                                                <li><a href="#">Реабилитация детей с дисплазией тазобедренного
                                                        сустава</a></li>
                                                <li><a href="#">Реабилитация детей с кривошеей</a></li>
                                                <li><a href="#">Реабилитация детей с речевой патологией</a></li>
                                                <li><a href="#">Реабилитация детей при задержке моторного развития
                                                        (ЗМР)</a></li>
                                                <li><a href="#">Реабилитация при детском церебральном параличе (ДЦП)</a>
                                                </li>
                                                <li><a href="#">Реабилитация детей с поражением периферической нервной
                                                        системы</a></li>
                                                <li><a href="#">Реабилитация детей с генетическими заболеваниями</a>
                                                </li>
                                                <li><a href="#">Реабилитация детей после онкологии</a></li>
                                                <li><a href="#">Реабилитация детей после черепно-мозговой травмы
                                                        (ЧМТ)</a></li>
                                                <li><a href="#">Реабилитация детей с косоглазием</a></li>

                                            </ul>
                                        </div>
                                        <div class="tabcontent__col">
                                            <span>Взрослые:</span>
                                            <ul class="ul-menu">

                                                <li><a href="#">Реабилитация после инсульта</a></li>
                                                <li><a href="#">Реабилитация после черепно-мозговой травмы у взрослых
                                                        (ЧМТ)</a></li>
                                                <li><a href="#">Реабилитация после травмы позвоночника</a></li>
                                                <li><a href="#">Реабилитация после операций на позвоночнике</a></li>
                                                <li><a href="#">Реабилитация после замены сустава</a></li>
                                                <li><a href="#">Реабилитация при переломе шейки бедра</a></li>
                                                <li><a href="#">Реабилитация после эндопротезирования суставов</a></li>
                                                <li><a href="#">Реабилитация после ортодонтических вмешательств</a></li>
                                                <li><a href="#">Реабилитация пациентов с ДЦП</a></li>
                                                <li><a href="#">Реабилитация после химиотерапии и облучения</a></li>
                                                <li><a href="#">Реабилитация при заболевании рассеянный склероз</a></li>
                                                <li><a href="#">Реабилитация после онкологии</a></li>
                                                <li><a href="#">Реабилитация после инфекционных заболеваний</a></li>
                                                <li><a href="#">Вестибулярная реабилитация</a></li>
                                                <li><a href="#">Спортивная реабилитация</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="tabcontent hide" id="services_menu_category_21">
                                        <div class="tabcontent__col">
                                            <ul class="ul-menu">

                                                <li><a href="#">Второе мнение</a></li>
                                                <li><a href="#">Онлайн-реабилитация</a></li>
                                                <li><a href="#">Школа реабилитации “Экзарта”</a></li>
                                                <li><a href="#">Адаптация квартиры</a></li>
                                                <li><a href="#">Кинезиотейпирование</a></li>
                                                <li><a href="#">Массаж</a></li>
                                                <li><a href="#">Лечебная физкультура (ЛФК)</a></li>
                                                <li><a href="#">Изготовление индивидуальных ортопедических стелек
                                                        Формтотикс</a></li>

                                            </ul>
                                        </div>
                                        <div class="tabcontent__col">
                                            <ul class="ul-menu">

                                                <span>Физиолечение:</span>
                                                <li><a href="#">Электротерапия</a></li>
                                                <li><a href="#">Магнитотерапия</a></li>
                                                <li><a href="#">Грязелечение</a></li>
                                                <li><a href="#">Фанго-парафиновое нагревание (термовоздействие)</a></li>

                                            </ul>
                                        </div>
                                    </div>

                                </div>
                                <div class="submenu for-mobile">

                                    <div class="submenu__item">
                                        <div class="submenu__item-header">Лечение</div>
                                        <div class="submenu__item-content">

                                            <div class="submenu__tabs">
                                                <div class="submenu__tabs-label active">Детям</div>
                                                <div class="submenu__tabs-label">Взрослым</div>
                                            </div>

                                            <div class="submenu__cols">
                                                <ul class="col active">
                                                    <li><a href="#">Лечение перинатального поражения центральной нервной
                                                            системы
                                                            (ППЦНС)</a></li>
                                                    <li><a href="#">Лечение детского церебрального паралича (ДЦП)</a>
                                                    </li>
                                                    <li><a href="#">Лечение задержки моторного развития (ЗМР)</a></li>
                                                    <li><a href="#">Лечение задержки речевого развития (ЗРР)</a></li>
                                                    <li><a href="#">Лечение нарушений памяти и внимания</a></li>
                                                    <li><a href="#">Лечение нарушений чтения и письма</a></li>
                                                    <li><a href="#">Лечение нарушения осанки</a></li>
                                                    <li><a href="#">Лечение синдрома мышечной дистонии</a></li>
                                                    <li><a href="#">Лечение сколиоза</a></li>
                                                    <li><a href="#">Лечение дисплазии тазобедренных суставов</a></li>
                                                    <li><a href="#">Лечение кривошеи</a></li>
                                                    <li><a href="#">Лечение мышечной слабости</a></li>
                                                    <li><a href="#">Лечение головных болей</a></li>
                                                    <li><a href="#">Лечение болей в спине</a></li>
                                                    <li><a href="#">Лечение спортивных травм</a></li>
                                                    <li><a href="#">Лечение травм и переломов</a></li>
                                                    <li><a href="#">Лечение косоглазия</a></li>
                                                    <li><a href="#">Лечение плоскостопия</a></li>
                                                    <li><a href="#">Восстановление после операции</a></li>
                                                </ul>
                                                <ul class="col">
                                                    <li><a href="#">Лечение неврологических заболеваний</a></li>
                                                    <li><a href="#">Лечение заболеваний опорно-двигательного
                                                            аппарата</a>
                                                    </li>
                                                    <li><a href="#">Лечение дисфункции мышц тазового дна</a></li>
                                                    <li><a href="#">Лечение травм и переломов</a></li>
                                                    <li><a href="#">Лечение боли в стопе</a></li>
                                                    <li><a href="#">Лечение пяточной шпоры</a></li>
                                                    <li><a href="#">Лечение плоскостопия</a></li>
                                                    <li><a href="#">Лечение головных болей</a></li>
                                                    <li><a href="#">Лечение боли в спине</a></li>
                                                    <li><a href="#">Лечение боли в суставах</a></li>
                                                    <li><a href="#">Лечение дисфункции височно-челюстного сустава
                                                            (ВНЧС)</a>
                                                    </li>
                                                    <li><a href="#">Лечение спортивных травм</a></li>
                                                    <li><a href="#">Восстановление после операции</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="submenu__item">
                                        <div class="submenu__item-header">Реабилитация</div>
                                        <div class="submenu__item-content">

                                            <div class="submenu__tabs">
                                                <div class="submenu__tabs-label active">Детям</div>
                                                <div class="submenu__tabs-label">Взрослым</div>
                                            </div>

                                            <div class="submenu__cols">
                                                <ul class="col active">
                                                    <li><a href="#">Реабилитация детей с дисплазией тазобедренного
                                                            сустава</a></li>
                                                    <li><a href="#">Реабилитация детей с кривошеей</a></li>
                                                    <li><a href="#">Реабилитация детей с речевой патологией</a></li>
                                                    <li><a href="#">Реабилитация детей при задержке моторного развития
                                                            (ЗМР)</a></li>
                                                    <li><a href="#">Реабилитация при детском церебральном параличе
                                                            (ДЦП)</a>
                                                    </li>
                                                    <li><a href="#">Реабилитация детей с поражением периферической
                                                            нервной
                                                            системы</a></li>
                                                    <li><a href="#">Реабилитация детей с генетическими заболеваниями</a>
                                                    </li>
                                                    <li><a href="#">Реабилитация детей после онкологии</a></li>
                                                    <li><a href="#">Реабилитация детей после черепно-мозговой травмы
                                                            (ЧМТ)</a></li>
                                                    <li><a href="#">Реабилитация детей с косоглазием</a></li>
                                                </ul>
                                                <ul class="col">
                                                    <li><a href="#">Реабилитация после инсульта</a></li>
                                                    <li><a href="#">Реабилитация после черепно-мозговой травмы у
                                                            взрослых
                                                            (ЧМТ)</a></li>
                                                    <li><a href="#">Реабилитация после травмы позвоночника</a></li>
                                                    <li><a href="#">Реабилитация после операций на позвоночнике</a></li>
                                                    <li><a href="#">Реабилитация после замены сустава</a></li>
                                                    <li><a href="#">Реабилитация при переломе шейки бедра</a></li>
                                                    <li><a href="#">Реабилитация после эндопротезирования суставов</a>
                                                    </li>
                                                    <li><a href="#">Реабилитация после ортодонтических вмешательств</a>
                                                    </li>
                                                    <li><a href="#">Реабилитация пациентов с ДЦП</a></li>
                                                    <li><a href="#">Реабилитация после химиотерапии и облучения</a></li>
                                                    <li><a href="#">Реабилитация при заболевании рассеянный склероз</a>
                                                    </li>
                                                    <li><a href="#">Реабилитация после онкологии</a></li>
                                                    <li><a href="#">Реабилитация после инфекционных заболеваний</a></li>
                                                    <li><a href="#">Вестибулярная реабилитация</a></li>
                                                    <li><a href="#">Спортивная реабилитация</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="submenu__item">
                                        <div class="submenu__item-header">Другие услуги</div>
                                        <div class="submenu__item-content">

                                            <div class="submenu__tabs">
                                                <div class="submenu__tabs-label active"></div>
                                                <div class="submenu__tabs-label">ِФизиотерапия</div>
                                            </div>

                                            <div class="submenu__cols">
                                                <ul class="col active">
                                                    <li><a href="#">Второе мнение</a></li>
                                                    <li><a href="#">Онлайн-реабилитация</a></li>
                                                    <li><a href="#">Школа реабилитации “Экзарта”</a></li>
                                                    <li><a href="#">Адаптация квартиры</a></li>
                                                    <li><a href="#">Кинезиотейпирование</a></li>
                                                    <li><a href="#">Массаж</a></li>
                                                    <li><a href="#">Лечебная физкультура (ЛФК)</a></li>
                                                    <li><a href="#">Изготовление индивидуальных ортопедических стелек
                                                            Формтотикс</a></li>
                                                </ul>
                                                <ul class="col">
                                                    <li><a href="#">Электротерапия</a></li>
                                                    <li><a href="#">Магнитотерапия</a></li>
                                                    <li><a href="#">Грязелечение</a></li>
                                                    <li><a href="#">Фанго-парафиновое нагревание (термовоздействие)</a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <a href="#" id="btn-scroll" class="btn btn-red btn-small hide" data-toggle="modal"
                            data-target=".jsModalFeedback">
                            <span>записаться на прием</span>
                        </a>
                    </div>

                    <div class="header__buttons-mobile">
                        <a href="#" class="btn btn-long">
                            <span>Интернет-магазин</span>
                        </a>
                        <a href="#" class="btn btn-long">
                            <span>Школа реабилитации "Экзарта"</span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </header>

    <main>

        <section class="maincenter-start">
            <div class="container">

                <div class="maincenter-start__benefits">
                    <div class="maincenter-start__benefits-item blue">
                        <p>Европейские методы и технологии реабилитации пациентов</p>
                    </div>
                    <div class="maincenter-start__benefits-item green">
                        <p>Ставим на ноги даже тех пациентов, которые казались "безнадёжными"</p>
                    </div>
                    <div class="maincenter-start__benefits-item red">
                        <p>Высокая квалификация врачей, индивидуальный подход к пациенту</p>
                    </div>
                </div>

                <div class="maincenter-start__button">
                    <a href="#" class="btn btn-red" data-toggle="modal" data-target=".jsModalReview">
                        <span>заказать звонок</span>
                    </a>
                </div>

                <div class="maincenter-start__image">
                    <span style="background-image: url('/images/demo/start.png');"></span>
                </div>
                <div class="maincenter-start__stamp"></div>

            </div>
        </section>

        <section class="maincenter-social">
            <div class="container">

                <div class="wrapper">
                    <div class="maincenter-social__title">
                        <h4>Перейти на страницу центра медицинской реабилитации “Экзарта” в своём городе</h4>
                    </div>

                    <div class="maincenter-social__address">
                        <div class="select">
                            <div class="select-wrapper">
                                <select name="" id="" class="custom-select">
                                    <option value="1">Нижний Новгород</option>
                                    <option value="2">Нижний Новгород</option>
                                    <option value="3">Нижний Новгород</option>
                                    <option value="3">Нижний Новгород</option>
                                    <option value="3">Нижний Новгород</option>
                                </select>
                            </div>
                        </div>
                        <div class="select">
                            <div class="select-wrapper">
                                <select name="" id="" class="custom-select">
                                    <option value="1">Казанское шоссе, д. 18к1</option>
                                    <option value="2">Казанское шоссе, д. 18к1</option>
                                    <option value="3">Казанское шоссе, д. 18к1</option>
                                    <option value="4">Казанское шоссе, д. 18к1</option>
                                    <option value="5">Казанское шоссе, д. 18к1</option>
                                </select>
                            </div>
                        </div>
                        <div class="maincenter-social__button">
                            <a href="#" class="btn btn-white">
                                <span>ok</span>
                            </a>
                        </div>
                    </div>

                </div>

            </div>
        </section>

        <section class="allcenter-start">
            <div class="container">

                <div class="wrapper">
                    <div class="allcenter-start__info">
                        <h1>Центры медицинской реабилитации “Экзарта”</h1>
                        <p>Специализированные клиники по реабилитации пациентов с нарушениями ЦНС и патологиями
                            опорно-двигательного аппарата в Нижнем Новгороде.</p>
                    </div>
                </div>

                <div class="allcenter-start__image">
                    <span style="background-image: url('/images/demo/start.png');"></span>
                </div>
                <div class="allcenter-start__stamp"></div>

            </div>
        </section>

        <section class="allcenter-choose">
            <div class="container">

                <div class="allcenter-choose__title title">
                    <h2 class="h1">Мы работаем в городах:</h2>
                </div>

                <div class="allcenter-choose__cities">
                    <div class="allcenter-choose__cities-item">
                        <h3 class="h2">Нижний Новгород:</h3>
                        <p>Казанское шоссе, д. 18, корпус 1</p>
                        <p>ул. Республиканская, д. 43, корпус 1</p>
                    </div>
                    <div class="allcenter-choose__cities-item">
                        <h3 class="h2">Дзержинск:</h3>
                        <p>ул. Строителей, д. 9Б</p>
                    </div>
                </div>

                <p>В центрах «Экзарта» работают опытные специалисты по неврологии, ортопедии, физиотерапии, мануальной
                    и физической терапии.</p>
                <p>Все они проходят обязательное обучение, практику и аттестацию в Международной академии медицинской
                    реабилитации (МАМР) и владеют продвинутыми методиками реабилитации детей и взрослых.</p>

            </div>
        </section>

        <section class="allcenter-3d">
            <div class="container">

                <div class="allcenter-3d__title title">
                    <h2 class="h1">3D тур по медклинике</h2>
                </div>

                <div class="allcenter-3d__address">
                    <div class="select">
                        <div class="select-wrapper">
                            <select name="" id="" class="custom-select">
                                <option value="1">Нижний Новгород</option>
                                <option value="2">Нижний Новгород</option>
                                <option value="3">Нижний Новгород</option>
                                <option value="3">Нижний Новгород</option>
                                <option value="3">Нижний Новгород</option>
                            </select>
                        </div>
                    </div>
                    <div class="select">
                        <div class="select-wrapper">
                            <select name="" id="" class="custom-select">
                                <option value="1">Казанское шоссе, д. 18к1</option>
                                <option value="2">Казанское шоссе, д. 18к1</option>
                                <option value="3">Казанское шоссе, д. 18к1</option>
                                <option value="4">Казанское шоссе, д. 18к1</option>
                                <option value="5">Казанское шоссе, д. 18к1</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="wrapper">
                    <a href="#" class="allcenter-3d__tour">
                        <span style="background-image: url('/images/demo/counters_bg.png');"></span>
                    </a>
                </div>

            </div>
        </section>

        <section class="allcenter-social">
            <div class="container">

                <div class="wrapper">
                    <div class="allcenter-social__title">
                        <h2>Мы в социальных сетях</h2>
                    </div>

                    <div class="allcenter-social__links">
                        <a href="#" class="btn btn-social">
                            @@include('../public/images/icons/vk.svg')
                        </a>
                        <a href="#" class="btn btn-social">
                            @@include('../public/images/icons/vk.svg')
                        </a>
                        <a href="#" class="btn btn-social">
                            @@include('../public/images/icons/vk.svg')
                        </a>
                        <a href="#" class="btn btn-social">
                            @@include('../public/images/icons/vk.svg')
                        </a>
                    </div>
                    <a href="#" class="btn btn-red pre-last">
                        <span>записаться на прием</span>
                    </a>
                    <div class="allcenter-social__contacts last">
                        <a href="tel:+78314290115" class="allcenter-social__phone">+7 (831) 429 01 15</a>
                        <div class="allcenter-social__write">
                            <a href="https://t.me/mamrkurs" target="_blank" class="allcenter-social__link">
                                <span class="allcenter-social__text">Написать в</span>
                                @@include('../public/images/icons/telegram.svg')
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="allcenter-gallery">
            <div class="container">

                <div class="allcenter-gallery__title title">
                    <h2 class="h1">Галерея</h2>
                </div>

                <div class="allcenter-gallery__address">
                    <div class="select">
                        <div class="select-wrapper">
                            <select name="" id="" class="custom-select">
                                <option value="1">Нижний Новгород</option>
                                <option value="2">Нижний Новгород</option>
                                <option value="3">Нижний Новгород</option>
                                <option value="3">Нижний Новгород</option>
                                <option value="3">Нижний Новгород</option>
                            </select>
                        </div>
                    </div>
                    <div class="select">
                        <div class="select-wrapper">
                            <select name="" id="" class="custom-select">
                                <option value="1">Казанское шоссе, д. 18к1</option>
                                <option value="2">Казанское шоссе, д. 18к1</option>
                                <option value="3">Казанское шоссе, д. 18к1</option>
                                <option value="4">Казанское шоссе, д. 18к1</option>
                                <option value="5">Казанское шоссе, д. 18к1</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="psevdo-elements">
                    <div class="image">
                        @@include('../public/images/icons/bird.svg')
                    </div>
                    <div class="image">
                        @@include('../public/images/icons/bird.svg')
                    </div>
                    <div class="image">
                        @@include('../public/images/icons/bird.svg')
                    </div>
                </div>

                <div class="allcenter-gallery__slider swiper">
                    <div class="allcenter-gallery__slider-wrapper swiper-wrapper">

                        <div class="swiper-slide">
                            <a href="#" class="allcenter-gallery__image">
                                <span style="background-image: url('/images/demo/gallery/image1.png');"></span>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="allcenter-gallery__image">
                                <span style="background-image: url('/images/demo/gallery/image2.png');"></span>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="allcenter-gallery__image">
                                <span style="background-image: url('/images/demo/gallery/image3.png');"></span>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="allcenter-gallery__image">
                                <span style="background-image: url('/images/demo/gallery/image1.png');"></span>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="allcenter-gallery__image">
                                <span style="background-image: url('/images/demo/gallery/image2.png');"></span>
                            </a>
                        </div>

                    </div>

                    <div class="allcenter-gallery__slider-pagination pagination">
                        <div class="btn-prev swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                        <div class="btn-next swiper-button-next"></div>
                    </div>
                </div>

            </div>
        </section>

        <section class="nn_center-start">
            <div class="container">

                <div class="wrapper">
                    <div class="nn_center-start__info">
                        <h1>Центры медицинской реабилитации “Экзарта”</h1>
                        <p>Специализированные клиники по реабилитации пациентов с нарушениями ЦНС и патологиями
                            опорно-двигательного аппарата в Нижнем Новгороде.</p>
                    </div>
                </div>

                <div class="nn_center-start__image">
                    <span style="background-image: url('/images/demo/start.png');"></span>
                </div>
                <div class="nn_center-start__stamp"></div>

                <div class="nn_center-start__counters">
                    <div class="nn_center-start__counters-item">
                        <span class="count">2000</span>
                        <p>пациентов проходит реабилитацию в центре за год</p>
                    </div>
                    <div class="nn_center-start__counters-item">
                        <span class="count">10</span>
                        <p>опыт работы специалистов в сфере реабилитации</p>
                    </div>
                    <div class="nn_center-start__counters-item">
                        <span class="count">100%</span>
                        <p>результат лечения с ремиссией</p>
                    </div>
                    <div class="nn_center-start__counters-item">
                        <span class="count">2</span>
                        <p>специализированных центра в Нижнем Новгороде</p>
                    </div>
                </div>

            </div>
        </section>

        <section class="nn_center-choose">
            <div class="container">

                <div class="nn_center-choose__title title">
                    <h2 class="h1">Выберите удобный <br> для себя медцентр</h2>
                </div>

                <div class="nn_center-choose__address">
                    <p>Казанское шоссе, д. 18, корпус 1</p>
                    <p>ул. Республиканская, д. 43, корпус 2</p>
                </div>

                <div class="nn_center-choose__label">
                    <div class="nn_center-choose__label-item">
                        <div class="icon">
                            @@include('../public/images/icons/noun/noun-rehabilitation.svg')
                        </div>
                        <span>Наши услуги</span>
                    </div>
                    <div class="nn_center-choose__label-item">
                        <div class="icon">
                            @@include('../public/images/icons/noun/noun-discount.svg')
                        </div>
                        <span>Акции и скидки</span>
                    </div>
                    <div class="nn_center-choose__label-item">
                        <div class="icon">
                            @@include('../public/images/icons/noun/noun-hospital.svg')
                        </div>
                        <span>Наши контакты</span>
                    </div>
                    <div class="nn_center-choose__label-item">
                        <div class="icon">
                            @@include('../public/images/icons/noun/noun-compliant.svg')
                        </div>
                        <span>Лицензии и сертификаты</span>
                    </div>
                </div>

                <p>В центрах «Экзарта» работают опытные специалисты по неврологии, ортопедии, физиотерапии, мануальной
                    и физической терапии.</p>
                <p>Все они проходят обязательное обучение, практику и аттестацию в Международной академии медицинской
                    реабилитации (МАМР) и владеют продвинутыми методиками реабилитации детей и взрослых.</p>

            </div>
        </section>

        <section class="nn_center-3d">
            <div class="container">

                <div class="nn_center-3d__title title">
                    <h2 class="h1">3D тур по медклинике</h2>
                </div>

                <div class="nn_center-3d__address">
                    <div class="select">
                        <div class="select-wrapper">
                            <select name="" id="" class="custom-select">
                                <option value="1">Казанское шоссе, д. 18к1</option>
                                <option value="2">Казанское шоссе, д. 18к1</option>
                                <option value="3">Казанское шоссе, д. 18к1</option>
                                <option value="4">Казанское шоссе, д. 18к1</option>
                                <option value="5">Казанское шоссе, д. 18к1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="wrapper">
                    <a href="#" class="nn_center-3d__tour">
                        <span style="background-image: url('/images/demo/counters_bg.png');"></span>
                    </a>
                </div>
            </div>
        </section>

        <section class="nn_center-social">
            <div class="container">

                <div class="wrapper">
                    <div class="nn_center-social__title">
                        <h2>Мы в социальных сетях</h2>
                    </div>

                    <div class="nn_center-social__links">
                        <a href="#" class="btn btn-social">
                            @@include('../public/images/icons/vk.svg')
                        </a>
                        <a href="#" class="btn btn-social">
                            @@include('../public/images/icons/vk.svg')
                        </a>
                        <a href="#" class="btn btn-social">
                            @@include('../public/images/icons/vk.svg')
                        </a>
                        <a href="#" class="btn btn-social">
                            @@include('../public/images/icons/vk.svg')
                        </a>
                    </div>
                    <a href="#" class="btn btn-red pre-last">
                        <span>записаться на прием</span>
                    </a>
                    <div class="nn_center-social__contacts last">
                        <a href="tel:+78314290115" class="nn_center-social__phone">+7 (831) 429 01 15</a>
                        <div class="nn_center-social__write">
                            <a href="https://t.me/mamrkurs" target="_blank" class="nn_center-social__link">
                                <span class="nn_center-social__text">Написать в</span>
                                @@include('../public/images/icons/telegram.svg')
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="nn_center-gallery">
            <div class="container">

                <div class="nn_center-gallery__title title">
                    <h2 class="h1">Галерея</h2>
                </div>

                <div class="nn_center-gallery__address">
                    <div class="select">
                        <div class="select-wrapper">
                            <select name="" id="" class="custom-select">
                                <option value="1">Казанское шоссе, д. 18к1</option>
                                <option value="2">Казанское шоссе, д. 18к1</option>
                                <option value="3">Казанское шоссе, д. 18к1</option>
                                <option value="4">Казанское шоссе, д. 18к1</option>
                                <option value="5">Казанское шоссе, д. 18к1</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="psevdo-elements">
                    <div class="image">
                        @@include('../public/images/icons/bird.svg')
                    </div>
                    <div class="image">
                        @@include('../public/images/icons/bird.svg')
                    </div>
                    <div class="image">
                        @@include('../public/images/icons/bird.svg')
                    </div>
                </div>

                <div class="nn_center-gallery__slider swiper">
                    <div class="nn_center-gallery__slider-wrapper swiper-wrapper">

                        <div class="swiper-slide">
                            <a href="#" class="nn_center-gallery__image">
                                <span style="background-image: url('/images/demo/gallery/image1.png');"></span>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="nn_center-gallery__image">
                                <span style="background-image: url('/images/demo/gallery/image2.png');"></span>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="nn_center-gallery__image">
                                <span style="background-image: url('/images/demo/gallery/image3.png');"></span>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="nn_center-gallery__image">
                                <span style="background-image: url('/images/demo/gallery/image1.png');"></span>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="nn_center-gallery__image">
                                <span style="background-image: url('/images/demo/gallery/image2.png');"></span>
                            </a>
                        </div>

                    </div>

                    <div class="nn_center-gallery__slider-pagination pagination">
                        <div class="btn-prev swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                        <div class="btn-next swiper-button-next"></div>
                    </div>
                </div>

            </div>
        </section>

    </main>

    <div class="menu-overlay hide"></div>

    <div tabindex="-1" class="modal fade modal-default jsModalFeedback">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal__box modal__info">
                    <button type="button" class="modal__box-close modal-close close" data-dismiss="modal"
                        aria-label="Close"></button>
                    <div class="modal__box-feedback">
                        <h2 class="h1">Запись на прием</h2>
                        <p>Разнообразный и богатый опыт начало повседневной работы по формированию позиции представляет
                            собой интересный эксперимент проверки модели развития.</p>
                        <form action="#">
                            <div class="form__input icon">
                                <i class="phone"></i>
                                <input type="text" placeholder="Телефон" required>
                            </div>
                            <div class="form__input icon">
                                <i class="user"></i>
                                <input type="text" placeholder="Как к вам обращаться?" required>
                            </div>
                            <div class="form__textarea">
                                <textarea name="message"
                                    placeholder="Врач, процедура или опишите в свободной форме, что Вас беспокоит?"
                                    required></textarea>
                            </div>
                            <div class="form__checkbox">
                                <label>
                                    <input type="checkbox" class="real-checkbox" name="agreement" checked>
                                    <span class="custom-checkbox"></span>
                                    <p class="text">
                                        Отправляя форму, вы соглашаетесь <a href="#">с Политикой конфиденциальности и
                                            Пользовательским соглашением</a> данного сайта.</p>
                                </label>
                            </div>
                            <div class="form__button">
                                <button type="submit" class="btn btn-red"><span>записаться на прием</span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div tabindex="-1" class="modal fade modal-default jsModalReview">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal__box modal__info">
                    <button type="button" class="modal__box-close modal-close close" data-dismiss="modal"
                        aria-label="Close"></button>
                    <div class="modal__box-review">
                        <h2 class="h1">Оставить отзыв</h2>
                        <p>Разнообразный и богатый опыт начало повседневной работы по формированию позиции представляет
                            собой интересный эксперимент проверки модели развития.</p>
                        <form action="#">
                            <div class="form__wrapper">
                                <div class="form__input icon">
                                    <i class="phone"></i>
                                    <input type="text" placeholder="Телефон" required>
                                </div>
                                <div class="form__input icon">
                                    <i class="user"></i>
                                    <input type="text" placeholder="Как к вам обращаться?" required>
                                </div>
                                <div class="select">
                                    <div class="select-wrapper">
                                        <select name="" id="" class="custom-select">
                                            <option value="1">Выберите направление</option>
                                            <option value="2">Выпадающий список</option>
                                            <option value="3">Выпадающий список</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="select">
                                    <div class="select-wrapper">
                                        <select name="" id="" class="custom-select">
                                            <option value="1">Детям/взрослым</option>
                                            <option value="2">Выпадающий список</option>
                                            <option value="3">Выпадающий список</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form__textarea">
                                <textarea name="message" placeholder="Оставьте свой отзыв" required></textarea>
                            </div>
                            <p>Если вы хотите отправить видео-отзыв, то присылайте свои видео на нашу почту:
                                <a href="mailto:nn@ekzarta.ru">nn@ekzarta.ru</a>
                            </p>
                            <div class="form__checkbox">
                                <label>
                                    <input type="checkbox" class="real-checkbox" name="agreement" checked required>
                                    <span class="custom-checkbox"></span>
                                    <p>
                                        Отправляя форму, вы соглашаетесь <a href="#">с Политикой конфиденциальности и
                                            Пользовательским соглашением</a> данного сайта.</p>
                                </label>
                            </div>
                            <div class="form__button">
                                <button type="submit" class="btn btn-red"><span>отправить отзыв</span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/bundles/webpack/vendor.bundle.js"></script>
    <script src="/bundles/webpack/app.bundle.js"></script>

</body>

</html>